{% extends "base.html" %}
{% block content %}
<div class="container">
  <h4 class="mb-3">缴款通知单</h4>
  <div class="nav-scroller bg--body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" href="{% url 'notice:all_periodical_notices'%}">全部缴款通知单</a>
      <a class="nav-link" href="{% url 'notice:active_periodical_notices'%}">未支付通知单</a>
      <a class="nav-link" href="{% url 'notice:payed_periodical_notices'%}">已支付通知单</a>
      <a class="nav-link" href="{% url 'notice:overdue_periodical_notices'%}">超期通知单</a>
      <a class="nav-link" href="{% url 'notice:inactive_periodical_notices'%}">已失效通知单</a>
      <a class="nav-link" href="#">
        Friends
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
      </a>
    </nav>
  </div>
  <div class="table-responsive table-bordered">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
              <th>单据编号</th>
              <th>下单日期</th>
              <th>截止日期</th>
              <th>缴款时段</th>
              <th>经销商名称</th>
              <th>席位号</th>
              <th>缴款季度</th>
              <th>费用总计</th>
              <th>还需支付</th>
              <th>状态</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          {% for notice in notices %}
          <tr>
            <td>{{notice.notice_id}}</td>
            <td>{{notice.date_released|date:'Y-m-d'}}</td>
            <td>{{notice.deadline|date:'Y-m-d'}}</td>
            <td>{{notice.payment_start_date|date:'Y-m-d'}} 到 {{notice.payment_end_date|date:'Y-m-d'}}</td>
            <td>{{notice.cname}}</td>
            <td>{{notice.loc_code}}</td>
            <td>{{notice.period_num}}</td>
            <td>{{notice.total_amount}}</td>
            <td>{{notice.to_be_payed}}</td>
            <td>{% if notice.status == 0 %}
              未超期
              {% elif notice.status == 1 %}
              已超期
              {% elif notice.status == 2 %}
              已支付
              {% elif notice.status == 3 %}
              已取消
              {% endif %}
          </td>
            <td><a href="{% url 'notice:check_periodical_notice' notice.id %}">查看此单</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock content %}
