{% extends "base.html" %}
{% block content %}
<div class="table-responsive table-bordered">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>编号</th>
          <th>签署日期</th>
          <th>铺位号</th>
          <th>铺位经营项目</th>
          <th>公司名</th>
          <th>月租金(每㎡)</th>
          <th>开始日期</th>
          <th>截止日期</th>
          <th>状态</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for contract in contracts %}
        <tr>
          <td>{{contract.id}}</td>
          <td>{{contract.sign_date}}</td>
          <td>{{contract.store_loc_code}}</td>
          <td>{{contract.business}}</td>
          <td>{{contract.buyer_company.company_name}}</td>
          <td>{{contract.unit_price}}</td>
          <td>{{contract.start_date}}</td>
          <td>{{contract.end_date}}</td>
          <td>
            {% if contract.approved_by_manager %}
            <a>已批准</a>
            {% else %}
            <a>未批准</a>
            {% endif %}
          </td>
          <td><a href="{% url 'contracts:contract' contract.id %}">查看合同</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<small class="d-block text-end">
    <a href="{% url 'contracts:all_companies' %}">新增合同</a>
</small>
<!-- <ul class="my-3 p-3 bg-body rounded shadow-sm" style="list-style-type:none;">
    {% for contract in contracts %}
      <li >
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">{{contract.id}}</strong>
                {% if contract.approved_by_manager %}
                <a>已批准</a>
                {% else %}
                <a>未批准</a>
                {% endif %}
              </div>
              <span class="d-block">查看合同</span>
            </div>
          </div>
      </li>
    {% endfor %}
  </ul> -->
 
{% endblock content %}