{% extends "base.html" %}
{% block content %}
<div class="table-responsive table-bordered">
    <table class="table table-striped table-md">
      <thead>
        <tr>
          <th>编号</th>
          <th>签署日期</th>
          <th>铺位号</th>
          <th>铺位经营项目</th>
          <th>公司名</th>
          <th>月租金(每㎡)</th>
          <th>开始日期</th>
          <th>截止日期</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for contract in contracts %}
        <tr>
          <td>{{contract.id}}</td>
          <td>{{contract.sign_date|date:'Y-m-d'}}</td>
          <td>{{contract.store_loc_code}}</td>
          <td>{{contract.business}}</td>
          <td>{{contract.buyer_company.company_name}}</td>
          <td>{{contract.unit_price}}</td>
          <td>{{contract.start_date|date:'Y-m-d'}}</td>
          <td>{{contract.end_date|date:'Y-m-d'}}</td>
          <td>
            <form method="post" action="{% url 'notice_handler:approve_contract' contract.id %}">
                {% csrf_token %}
                <button name="submit" class="btn-primary" onclick="return confirm('您确定批准此合同吗（编号：{{ contract.id}}）？');">审核通过</button>
            </form>
          </td>
          <td>
            <form method="post" action="{% url 'notice_handler:unapprove_contract' contract.id %}">
              {% csrf_token %}
              <button name="submit" class="btn-secondary" onclick="return confirm('您确定取消此合同吗（编号：{{ contract.id}}）？');">未通过</button>
            </form>
          </td>
          <td><a href="{% url 'contracts:verify_contract' contract.id %}">查看</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock content %}