{% extends "base.html" %}
{% block content %}
<h4 class="mb-3">首次缴款单</h4>
<div class="table-responsive table-bordered">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
            <th>单据编号</th>
            <th>下单日期</th>
            <th>缴款时段</th>
            <th>经销商名称</th>
            <th>席位号</th>
            <th>费用总计</th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for notice in notices.active %}
        <tr>
          <td>{{notice.notice_id}}</td>
          <td>{{notice.date_released|date:'Y-m-d'}}</td>
          <td>{{notice.payment_start_date|date:'Y-m-d'}} 到 {{notice.payment_end_date|date:'Y-m-d'}}</td>
          <td>{{notice.cname}}</td>
          <td>{{notice.loc_code}}</td>
          <td>{{notice.total_amount}}</td>
          <td><a href="{% url 'notice:check_first_notice' notice.id %}">查看此单</a></td>
          <td>
            <form method="post" action="{% url 'notice:approve_first_notice' notice.id %}">
                {% csrf_token %}
                <button name="submit" class="btn-success" onclick="return confirm('您确定收缴此通知单吗（编号：{{ notice.id}}）？');">确认收缴</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<hr class="my-4">
<h5 class="mb-3">已收缴的首次缴款单</h5>
<div class="table-responsive table-bordered">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
            <th>单据编号</th>
            <th>缴款日期</th>
            <th>缴款时段</th>
            <th>经销商名称</th>
            <th>席位号</th>
            <th>费用总计</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for notice in notices.inactive %}
        <tr>
          <td>{{notice.notice_id}}</td>
          <td>{{notice.date_payed|date:'Y-m-d'}}</td>
          <td>{{notice.payment_start_date|date:'Y-m-d'}} 到 {{notice.payment_end_date|date:'Y-m-d'}}</td>
          <td>{{notice.cname}}</td>
          <td>{{notice.loc_code}}</td>
          <td>{{notice.total_amount}}</td>
          <td><a href="{% url 'notice:check_first_notice' notice.id %}">查看此单</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}
