{% extends "base.html" %}
{% block content %}
<h4 class="mb-3">编辑首次缴款单</h4>
<div class="table-responsive table-bordered">
    <form method="post" action="{% url 'notice:edit_first_notice' notice.id %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
        <table class="table table-striped table-sm">
            <tr><th style="width: 50%">单据编号</th><td>{{notice.notice_id}}</td></tr>
            <tr><th style="width: 50%">下单日期</th><td>{{notice.date_released|date:'Y-m-d'}}</td></tr>
            <tr><th style="width: 50%">经销商名称</th><td>{{notice.cname}}</td></tr>
            <tr><th style="width: 50%">席位号</th><td>{{notice.loc_code}}</td></tr>
            <tr><th style="width: 50%">付款截止日期</th><td>{{ form.deadline.errors }}{{ form.deadline }}</td></tr>
            <tr><th style="width: 50%">缴款时段开始时间</th><td>{{notice.payment_start_date|date:'Y-m-d'}}</td></tr>
            <tr><th style="width: 50%">缴款时段截止时间</th><td>{{notice.payment_end_date|date:'Y-m-d'}}</td></tr>
            <tr><th style="width: 50%">租赁费(¥)</th><td onchange="sumOfRentFee()">{{ form.total_rent.errors }}{{ form.total_rent }}</td></tr>
            <tr><th style="width: 50%">统一推广费(¥)</th><td onchange="sumOfRentFee()">{{ form.promotion_fee.errors }}{{ form.promotion_fee }}</td></tr>
            <tr><th style="width: 50%">费用总计(¥)</th><td id="total">{{notice.total_amount}}</td></tr>
        </table>
        <button name="submit" class="btn btn-success">确认</button>
        <input type="hidden" name="next" value="{% url 'notice:check_first_notice' notice.id %}" />
    </form>
</div>
<hr class="my-4">
<small class="d-block text-end">
    <a href="{% url 'notice:active_first_notices' %}">查看其他单据</a>
</small>
<script>
    function sumOfRentFee() {
        var rent_input = document.getElementById('id_total_rent');
        var fee_input = document.getElementById('id_promotion_fee');
        var total_cell = document.getElementById('total');
        total_cell.innerHTML = parseFloat(rent_input.value)+parseFloat(fee_input.value);
    }
  </script>
{% endblock content %}
