{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="table-responsive table-bordered">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>编号</th>
            <th>收款日期</th>
            <th>收款单编号</th>
            <th>收款方式</th>
            <th>收款事由</th>
            <th>金额</th>
            <th>公司名</th>
            <th>状态</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
          <tr>
            <td>{{payment.id}}</td>
            <td>{{payment.date_received|date:'Y-m-d'}}</td>
            <td>{{payment.payment_id}}</td>
            <td>{{payment.pay_method}}</td>
            <td>{{payment.reason}}</td>
            <td>{{payment.amount}}</td>
            <td>{{payment.cname}}</td>
            <td>{% if payment.status == 0 %}
              已审核通过
              {% elif payment.status == 1 %}
              审核未通过
              {% elif payment.status == 2 %}
              已创立
              {% elif payment.status == 3 %}
              已取消
              {% endif %}
          </td>
            <!-- <td>{% if payment.is_first %}
                <a href="{% url 'notice:check_first_notice' payment.first_notice.id %}">查看缴款单</a>
                {% elif payment.is_per %}
                <a href="{% url 'notice:check_periodical_notice' payment.per_notice.id %}">查看缴款单</a>
                {% endif %}
            </td> -->
            <td>
              <a href="{% url 'payments:check_payment' payment.id %}">查看收款单</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <!-- <hr class="my-4">
  <h4 class="mb-3">搜索此页</h4>
    <form method="get" action="{% url 'contracts:search_contracts' 4 %}">
        {% csrf_token %}
        <div class="row g-4">
            <div class="fieldWrapper col-sm-3">
                <label for="host_company_searchlabel" class="form-label">甲方公司名：</label>
                <input name="hc_search" type="text" placeholder="" class='form-control'>
            </div>
            <div class="fieldWrapper col-sm-3">
                <label for="buyer_company_searchlabel" class="form-label">乙方公司名：</label>
                <input name="bc_search" type="text" placeholder="" class='form-control'>  
            </div>
            <div class="fieldWrapper col-sm-3">
                <label for="store_loc_code_searchlabel" class="form-label">铺位号：</label>
                <input name="sl_search" type="text" placeholder="" class='form-control'>
            </div>
            <div class="fieldWrapper col-sm-3">
                <label for="floor_num_searchlabel" class="form-label">楼层：</label>
                <input name="fn_search" type="text" placeholder="" class='form-control'>
                
            </div>
            <div class="col-sm-12 text-end">
                <button name="submit" class="btn btn-success">搜索</button>
            </div>
        </div>
    </form> -->
</div>
<!-- <hr class="my-4">
<small class="d-block text-end">
    <a href="{% url 'contracts:all_companies' %}">新增合同</a>
</small>  -->
{% endblock content %}