{% extends "base.html" %}
{% block content %}
<div class="container">
    <h4 class="mb-3">合同细节</h4>
    <div class="table-responsive table-bordered">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>编号</th>
              <th>签署日期</th>
              <th>合同时段</th>
              <th>铺位号</th>
              <th>铺位经营项目</th>
              <th>公司名</th>
              <th>月租金(每㎡)</th>
              <th>状态</th>
            </tr>
          </thead>
          <tbody>
            {% for contract in contracts %}
            <tr>
              <td>{{contract.id}}</td>
              <td>{{contract.sign_date|date:'Y-m-d'}}</td>
              <td>{{contract.start_date|date:'Y-m-d'}} 到 {{contract.end_date|date:'Y-m-d'}}</td>
              <td>{{contract.store_loc_code}}</td>
              <td>{{contract.business}}</td>
              <td>{{contract.buyer_company.company_name}}</td>
              <td>{{contract.unit_price}}</td>
              <td>{% if contract.status == 0 %}
                已创立
                {% elif contract.status == 1 %}
                已审核通过
                {% elif contract.status == 2 %}
                审核未通过
                {% elif contract.status == 3 %}
                已完成
                {% endif %}
            {% endfor %}</td>
          </tbody>
        </table>
    </div>
    <hr class="my-4">
    <h4 class="mb-3">首次缴款单</h4>
    <div class="table-responsive table-bordered">
        <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>单据编号</th>
                <th>缴款时段</th>
                <th>下单日期</th>
                <th>经销商名称</th>
                <th>席位号</th>
                <th>费用总计</th>
                <th>还需支付</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for notice in first_notices %}
            <tr>
            <td>{{notice.notice_id}}</td>
            <td>{{notice.payment_start_date|date:'Y-m-d'}} 到 {{notice.payment_end_date|date:'Y-m-d'}}</td>
            <td>{{notice.date_released|date:'Y-m-d'}}</td>
            <td>{{notice.cname}}</td>
            <td>{{notice.loc_code}}</td>
            <td>{{notice.total_amount}}</td>
            <td>{{notice.to_be_payed}}</td>
            <td><a href="{% url 'payments:create_payment' notice.id 0 %}">新增收款</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <hr class="my-4">
    <h4 class="mb-3">缴款通知单</h4>
    <div class="table-responsive table-bordered">
        <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>单据编号</th>
                <th>缴款时段</th>
                <th>下单日期</th>
                <th>经销商名称</th>
                <th>席位号</th>
                <th>缴款季度</th>
                <th>费用总计</th>
                <th>还需支付</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for notice in periodical_notices %}
            <tr>
            <td>{{notice.notice_id}}</td>
            <td>{{notice.payment_start_date|date:'Y-m-d'}} 到 {{notice.payment_end_date|date:'Y-m-d'}}</td>
            <td>{{notice.date_released|date:'Y-m-d'}}</td>
            <td>{{notice.cname}}</td>
            <td>{{notice.loc_code}}</td>
            <td>{{notice.period_num}}</td>
            <td>{{notice.total_amount}}</td>
            <td>{{notice.to_be_payed}}</td>
            <td><a href="{% url 'payments:create_payment' notice.id 1 %}">新增收款</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>


{% endblock content %}